body {
    font-family: 'Inter', sans-serif;
    background: rgb(255, 255, 255);
    color: black;
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    line-height: 1.6;
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

html {
    height: 100%;
}

header {
    text-align: center;
}

img {
    user-select: none;
}

.navbar {
    display: inline-flex;
    gap: 24px;
    padding: 12px 24px;
    background-color: #1f1f1f;
    border-radius: 9999px;
    font-size: 14px;
    align-items: center;
    margin: 20px;
    position: relative;
}

.navbar-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}


.navbar-links {
    display: inline-flex;
    gap: 24px;
    align-items: center;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
}

.tooltip-container {
    position: relative;
    display: inline-block;
    line-height: 0;
}

.tooltip-text {
    visibility: hidden;
    background-color: #2c2c2c;
    color: #fff;
    padding: 12px 16px;
    border-radius: 6px;
    font-size: 12px;
    position: absolute;
    bottom: 200%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.tooltip-container a svg {
    vertical-align: middle;
}

@media (max-width: 400px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        border-radius: 16px;
        padding: 16px;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-links {
        flex-direction: column;
        width: 100%;
        margin-top: 0px;
        gap: 12px;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        pointer-events: none;
    }

    .navbar.open .navbar-links {
        max-height: 500px;
        opacity: 1;
        pointer-events: auto;
    }

    .tooltip-container:hover .tooltip-text {
        visibility: hidden;
        opacity: 1;
    }
}

.navbar a {
    text-decoration: none;
    color: white;
    display: inline-flex;
    align-items: center;
    gap: 4px;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar svg {
    width: 18px;
    height: 18px;
    stroke: white;
}

h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h2 {
    margin: 30px 0px;
}

.back-link {
    font-size: 0.8rem;
    display: block;
    margin-bottom: 1.5rem;
    text-align: center;
}

.back-link a {
    text-decoration: none;
    color: #888;
}

/* FOOTER */

.site-footer {
    border-top: 1px solid #e5e5e5;
    font-size: 14px;
    padding: 24px 0;
    color: #555;
    margin-top: 40px;
}

.footer-content {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.footer-links {
    margin-top: 8px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.footer-links a {
    color: #555;
    text-decoration: none;
}

/* BODY */

#title {
    user-select: none;
    width: 350px;
    margin: 60px auto;
}

#giphy {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: auto;
}

/** PROJECT SHOWCASE**/

.project-container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}

.card {
    border: 1px solid #e5e7eb;
    color: white;
    border-radius: 12px;
    padding: 24px;
    width: 238px;
}

.card h2 {
    margin-top: 0;
    font-size: 1.25rem;
}

.card p {
    color: #aaa;
    font-size: 0.95rem;
    margin-bottom: 20px;
}

.project-name {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 8px;
    color: black;
}

.project-framework {
    font-size: 0.9rem;
    color: #888;
    margin-bottom: 20px;
}

.btn-github {
    display: inline-block;
    text-decoration: none;
    background-color: #fff;
    color: #000;
    font-weight: 600;
    padding: 10px 16px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    border: 1px solid #e5e7eb;
}

.btn-github:hover {
    background-color: #e1e1e1;
}

.image-placeholder {
    width: 100%;
    height: 200px;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    margin-bottom: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-placeholder img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    display: block;
}

.project-post {
    text-decoration: none;
    color: white;
}

/** TECH STACK**/

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
    gap: 20px;
}

.grid-item {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}